html, body {
    margin: 0px;
}

body {
    background-color: #363333;
    color: #F6E9E9;
}

a, h2, h3, h4, p {
    font-family: 'Noto Sans', sans-serif;
}



a {
  text-decoration: none;
  color:#E16428;
}

p.small {
  font-size: smaller;
}

.main h1 {
    font-family: 'Noto Sans', sans-serif;
    color: #E16428;
}

.topnav {
    background-color: #272121; 
    overflow: hidden;
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    justify-content: space-between;
}

.topnav .topnav-hamburger, .topnav .toggle {
   display: none; 
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    height: 100%;
}

.topnav a:hover {
    background-color: #f2f2f2;
    color: black;
}

.topnav .title
{
    color: #E16428;
    font-size: large;
    font-family: "Roboto";
}

main { 
  margin-top: 85px;
}

.main {
    margin-top: 40px;
}

main.centered-page {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

main.centered-page h1 {
  display: inline-block;
  border-bottom: solid 3px #E16428;
  padding: 0 0.25em;
  margin: 1.5em 0.4em;
}

@media screen and (min-width: 500px) {
  main.centered-page h1 {
    font-size: 2.75em;
    margin: 1.5em 1em;
    padding: 0 0.75em;
  }
}

/* pseudo-elements for handling autocompletion styles */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #222 inset !important;
    -webkit-text-fill-color: #F6E9E9 !important;
}

form.login {
  background-color: #222;
  max-width: 350px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
  padding: 1.5em 2em;
  box-shadow: 0 0.6em 1em #272121;
  text-align: left;
}

form.login p {
  text-align: center;
  margin-bottom: 1.5em;
}

form.login label[for] {
  cursor: text;
  position: absolute;
  transform: translateY(-3.75em) translateX(0.4em);
  color: gray;
  transition: transform 0.2s;
}

form.login input:focus {
  outline: 1px solid #E16428;
  border-radius: 5px;
}

form.login input:focus + label {
  transform: translateY(-4em) translateX(0.4em)!important;
  color:#E16428;
}

form.login input:placeholder-shown + label {
  transform: translateY(-2.25em) translateX(0.4em); 
}

form.login input[type] {
  background-color: inherit;
  color: #F6E9E9;
  border: none;
  border-bottom: 1px solid #363333;
  padding: 0.5em; 
  width:100%;
  margin: 1em 0;
}

form.login button[type="button"] {
  background-color: #E16428;
  border: none;
  color: #F6E9E9;
  border-radius:30px;
  display: block;
  margin: 2em auto 0 auto;
  padding: 0.5em 5em;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

form.login button[type="button"]:hover {
  background-color: rgba(225, 100, 40, 0.7);
}

@media screen and (max-width:400px){
  form.login {
    margin: 0.5em;
  }
}


.index-grid {
    display: grid;
    grid-template-columns: 30% 60% 10%;
    padding: 20px;
}

/* Start News Section */

.news {
    margin-left: 10px;
    font-family: 'Noto Sans', sans-serif;
}

.news h1 {
    text-align: center;
}

.news-container {
    margin: 20px;
    padding: 1rem;
    background-image: linear-gradient(to bottom right, #F6E9E9, #E16428);
    border-radius: 20px;
    transition: transform 0.6s cubic-bezier(0.76, 0, 0.24, 1), box-shadow 0.8s cubic-bezier(0.76, 0, 0.24, 1);
    padding: 3px;
    cursor:pointer;     
}

.news-container:hover {
    padding: 1rem;
    border-radius: 20px;
    background-image: linear-gradient(to bottom right,  #E16428, #363333);
    transition: transform 0.6s cubic-bezier(0.76, 0, 0.24, 1), box-shadow 0.8s cubic-bezier(0.76, 0, 0.24, 1);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25), 0 0 48px rgba(0, 0, 0, 0.35);
    padding: 3px;
}

.news-container h2 {
    text-align: center;
    padding-bottom: 20px;
}

.news-container .news-content .news-date {
    white-space:nowrap;
}

.news-container .news-content {
    border-radius: 20px;
    background: #222;
    color: white;
    padding: 2rem;
}

.news-container .news-content p {
    text-indent: 2em;
}

/* Start Sidenav Section */

.sidenav {
    border-right: solid;
    border-image: linear-gradient(to bottom, #363333, #E16428) 1;
}

.sidenav .sidenav-container {
    border-width: 10px;
    margin: 20px;
}

.sidenav .sidenav-container .searchbar {
    background-color: #F6E9E9;
    color:#272121;
    width: 300px;
    height: 44px;
    width: 100%;

    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
}

.sidenav .sidenav-container .searchbar input {
    all: unset;
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
    color: #272721;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
}

.sidenav .sidenav-container .searchbar button {
    all: unset;
    cursor: pointer;
    height: 100%;
    width: 100%;
    width: 44px;
    height: 44px;
    background-color: #E16428;
    padding-left: 10px;
    border-radius: 2px;
}

.sidenav .sidenav-container a {
    border: solid;
    border-width: 5px;
    padding: 10px;
    border-image: linear-gradient(to top,#E16428 ,#363333 ) 1;
    background-color: #222;
    color:#f2f2f2;
    display: block;
}

.sidenav .sidenav-container a:hover {
    border: solid;
    border-width: 5px;
    border-image: linear-gradient(to top,#E16428 ,#363333 ) 1;
    background-color: #222;
    transition: transform 0.6s cubic-bezier(0.76, 0, 0.24, 1), box-shadow 0.8s cubic-bezier(0.76, 0, 0.24, 1);
    transform: scale(1.01);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25), 0 0 48px rgba(0, 0, 0, 0.35);
    color:#E16428;
    display: block;
}

.sidenav .sidenav-container a:active {
    border: solid;
    border-width: 5px;
    border-image: linear-gradient(to top,#E16428 ,#363333 ) 1;
    background-color: #222;
    color:#E16428;
    display: block;
}

.sidenav .sidenav-container a:visited {
    border: solid;
    border-width: 5px;
    border-image: linear-gradient(to top,#E16428 ,#363333 ) 1;
    background-color: #222;
    color:#E16428;
    display: block;
}

.sidenav h1 {
    text-align: center;
}

/* Start About Section */
.mainAbout { 
  margin-top: 85px;
  text-align:center;
}
  
.mainAbout h1 {
  margin-top: 15px;
  font-size: 33px;
  color:#f2f2f2;
  border-bottom: 3px solid #E16428;
  display: inline-block;
}

.mainAbout h2 {
  margin-top: 15px;
  font-size: 33px;
  color:#f2f2f2;
  border-bottom: 3px solid #E16428;
  display: inline-block;
}
 
.card-container {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border-radius: 20px;
  border: 1px solid #E16428;
  background-color: #272121;
  color: #f2f2f2;
  padding: 20px;
  margin: 30px;
  width: 290px;
  text-align: center;
}
  
.card .userpic {
  border-radius: 20px;
  width: 100px;
  height: 100px;
  margin: 5px;
}

.card .connections {
  width:20px;
  height:20px;
  margin-top:20px;
}
  
.card .name {
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 15px;
  font-family: 'Noto Sans', sans-serif;
}

.card .info {
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: 'Noto Sans', sans-serif;
}

.informationCard {
  border-radius: 20px;
  border: 1px solid #E16428;
  background-color: #272121;
  color: #f2f2f2;
  padding: 20px;
  margin: 30px;
  width: 1270px;
  text-align: justify;
  font-family: 'Noto Sans', sans-serif;
}

/* register.html */

#register-container > div {
  display: none;
}

#register-container > div.active {
  display: block;
}

#register-container #select-account-type {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#register-container #select-account-type.hidden {
  display: none;
}

#register-container #select-account-type > div {
  margin: 1em;
  padding: 1em 3em 2em 3em;
  border-radius:6px;
  background-color: #222;
  box-shadow: 0 0.6em 1em #272121;
}

#register-container #select-account-type > h2 {
  width: 100%;
}

#select-account-type h3 {
  color:#E16428;
}

#select-account-type img {
  padding: 0.5em 2em;
}

#select-account-type button[type="button"] {
  margin-top:1em;
  padding: 0.5em 1em;
  font-size:larger;
  border-radius:3px;
  border:none;
  background-color: #E16428;
  color:white;
  font-weight: bold;
  cursor: pointer;
}

#select-account-type button[type="button"]:hover {
  background-color: rgba(225, 100, 40, 0.7);
}

/* Responsive Final */

@media only screen and (max-width: 850px) {
  .topnav {
      display: block;
  }

  .topnav .hamburger {
      float: right;
      height: 45px;
      margin-right: 10px;
      margin-top: 10px;
      display: -ms-grid;
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      justify-items: center;
      z-index: 120;
  }

  .topnav .hamburger div {
      background-color: #E16428;
      position: relative;
      width: 40px;
      height: 5px;
      margin-top: 3px;
      -moz-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
  }

  .topnav .toggle {
      display: none;
  }

  .topnav .toggle:checked + .hamburger .top {
      -moz-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
      margin-top: 22.5px;
  }

  .topnav .toggle:checked + .hamburger .meat {
      -moz-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      margin-top: -5px;
  }
    
  .toggle:checked + .hamburger .bottom {
      -moz-transform: scale(0);
      -webkit-transform: scale(0);
      transform: scale(0);
  }

  .toggle:checked ~ .menu {
      height: 380px;
  }

  .menu {
      width: 100%;
      background-color: #272121;
      margin: 0;
      display: -ms-grid;
      display: flex;
      flex-direction: column;
      padding: 0;
      list-style: none;
      clear: both;
      width: auto;
      text-align: center;
      height: 0px;
      overflow: hidden;
      transition: height .4s ease;
      z-index: 120;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
  }

  .index-grid {
      grid-template-columns: 100%;
      grid-template-rows: 50% 50%;
  }

  .sidenav {
      border-right: none;
      border-bottom: solid;
      border-image: linear-gradient(to right, #363333, #E16428) 1;
  }
}
