 /* Add a black background color to the top navigation */
html, body {
    margin: 0px;
}

body {
    background-color: #363333;
    color: #F6E9E9;
}

a, h1, h2, h3, h4, p {
    font-family: 'Noto Sans', sans-serif;
}

a {
    text-decoration: none;
}

a{
  color:#E16428;
}

p.small {
  font-size:smaller;
}

.main h1 {
    color: #E16428;
}

main { 
  margin-top: 85px;
}

.main {
    margin-top: 40px;
}

.topnav {
    background-color: #272121; 
    overflow: hidden;
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    justify-content: space-between;
}

  
  /* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    height: 100%;
}
  
  /* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

  
  /* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

.topnav .title
{
    color: #E16428;
    font-size: large;
    font-family: "Roboto";
}

.topnav .topnav-left {
    display: flex;
    justify-content: flex-start;
}

.topnav .searchbar {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height:  100%;
    flex-direction: row;
    align-items: center;
}

.topnav .searchbar input {
    margin: 0;
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
    color: #272721;
    padding: 5px;
}
.topnav .searchbar button {
    all:unset;
    margin: 0;
    font-size: 16px;
    background-color: #E16428;
    padding-left: 10px;
    padding-right: 15px;
    border-radius: 2px;
    height: 35px;
    width: 100%;
}

main.centered-page {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

main.centered-page h1 {
  display: inline-block;
  border-bottom: solid 3px #E16428;
  padding: 0 0.25em;
  margin: 1.5em 0.4em;
}

@media screen and (min-width: 500px) {
  main.centered-page h1 {
    font-size: 2.75em;
    margin: 1.5em 1em;
    padding: 0 0.75em;
  }
}

/* pseudo-elements for handling autocompletion styles */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #222 inset !important;
    -webkit-text-fill-color: #F6E9E9 !important;
}

form.login {
  background-color: #222;
  max-width: 350px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
  padding: 1.5em 2em;
  box-shadow: 0 0.6em 1em #272121;
  text-align: left;
}

form.login p {
  text-align: center;
  margin-bottom: 1.5em;
}

form.login label[for] {
  cursor: text;
  position: absolute;
  transform: translateY(-3.75em) translateX(0.4em);
  color: gray;
  transition: transform 0.2s;
}

form.login input:focus {
  outline: 1px solid #E16428;
  border-radius: 5px;
}

form.login input:focus + label {
  transform: translateY(-4em) translateX(0.4em)!important;
  color:#E16428;
}

form.login input:placeholder-shown + label {
  transform: translateY(-2.25em) translateX(0.4em); 
}

form.login input[type] {
  background-color: inherit;
  color: #F6E9E9;
  border: none;
  border-bottom: 1px solid #363333;
  padding: 0.5em; 
  width:100%;
  margin: 1em 0;
}

form.login button[type="button"] {
  background-color: #E16428;
  border: none;
  color: #F6E9E9;
  border-radius:30px;
  display: block;
  margin: 2em auto 0 auto;
  padding: 0.5em 5em;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

form.login button[type="button"]:hover {
  background-color: rgba(225, 100, 40, 0.7);
}

@media screen and (max-width:400px){
  form.login {
    margin: 0.5em;
  }
}

.index-grid {
    display: grid;
    grid-template-columns: 30% 60% 10%;
    padding: 20px;
}

/* Start News Section */

#news {
    margin-left: 10px;
    font-family: 'Noto Sans', sans-serif;
}

#news h1 {
    text-align: center;
}

.news-box {
    margin-top: 20px;
    margin-right: 10px;
    padding: 1rem;
    background-image: linear-gradient(to bottom right, #F6E9E9, #E16428);
    border-radius: 20px;
    transition: transform 0.6s cubic-bezier(0.76, 0, 0.24, 1), box-shadow 0.8s cubic-bezier(0.76, 0, 0.24, 1);
    padding: 3px;
    cursor:pointer;     
}

.news-box:hover {
    padding: 1rem;
    border-radius: 20px;
    background-image: linear-gradient(to bottom right,  #E16428, #363333);
    transition: transform 0.6s cubic-bezier(0.76, 0, 0.24, 1), box-shadow 0.8s cubic-bezier(0.76, 0, 0.24, 1);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25), 0 0 48px rgba(0, 0, 0, 0.35);
    padding: 3px;
}

.news-box h2 {
    text-align: center;
    padding-bottom: 20px;
}

.news-box .news-content .news-date {
    white-space:nowrap;
}

.news-box .news-content {
    border-radius: 20px;
    background: #222;
    color: white;
    padding: 2rem;
}

.news-box .news-content p {
    text-indent: 2em;
}

#sidenav {
    border-right: solid;
    border-image: linear-gradient(to bottom, #363333, #E16428) 1;
}

#sidenav .sidenav-container {
    border-width: 10px;
    margin: 20px;
}

#sidenav .sidenav-container .searchbar {
    background-color: #F6E9E9;
    color:#272121;
    width: 300px;
    height: 44px;
    width: 100%;

    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
}

#sidenav .sidenav-container .searchbar input {
    all: unset;
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
    color: #272721;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
}
#sidenav .sidenav-container .searchbar button {
    all: unset;
    cursor: pointer;
    height: 100%;
    width: 100%;
    width: 44px;
    height: 44px;
    background-color: #E16428;
    padding-left: 10px;
    border-radius: 2px;
}

#sidenav .sidenav-container a {
    border: solid;
    border-width: 5px;
    padding: 10px;
    border-image: linear-gradient(to top,#E16428 ,#363333 ) 1;
    background-color: #222;
    color:#f2f2f2;
    display: block;
}
#sidenav .sidenav-container a:hover {
    border: solid;
    border-width: 5px;
    border-image: linear-gradient(to top,#E16428 ,#363333 ) 1;
    background-color: #f2f2f2;
    transition: transform 0.6s cubic-bezier(0.76, 0, 0.24, 1), box-shadow 0.8s cubic-bezier(0.76, 0, 0.24, 1);
    transform: scale(1.01);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25), 0 0 48px rgba(0, 0, 0, 0.35);
    color:#E16428;
    display: block;
}
#sidenav .sidenav-container a:active {
    border: solid;
    border-width: 5px;
    border-image: linear-gradient(to top,#E16428 ,#363333 ) 1;
    background-color: #f2f2f2;
    color:#E16428;
    display: block;
}
#sidenav .sidenav-container a:visited {
    border: solid;
    border-width: 5px;
    border-image: linear-gradient(to top,#E16428 ,#363333 ) 1;
    background-color: #222;
    color:#E16428;
    display: block;
}

#sidenav h1 {
    text-align: center;
}